:root {
    --ifm-color-primary: #3584e4;
    --ifm-color-primary-dark: #1a73e8;
    --ifm-color-primary-darker: #1967d2;
    --ifm-color-primary-darkest: #1557b0;
    --ifm-color-primary-light: #4a90e8;
    --ifm-color-primary-lighter: #6ba3ed;
    --ifm-color-primary-lightest: #99c1f1;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --ifm-color-primary: #62a0ea;
    --ifm-color-primary-dark: #3d8de6;
    --ifm-color-primary-darker: #2a7ee3;
    --ifm-color-primary-darkest: #1b6bcd;
    --ifm-color-primary-light: #7fb1ee;
    --ifm-color-primary-lighter: #99c1f1;
    --ifm-color-primary-lightest: #c0daf8;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__logo img {
    height: 1.25rem;
    width: auto;
}

.navbar__brand {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.navbar__title {
    font-weight: 700;
}
