name: Publish

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    container:
      image: fedora:43
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/setup

      - name: Build all packages
        run: pnpm build

      - name: Publish packages
        run: pnpm -r publish --access public --no-git-checks --provenance
